/* enterIntoAccount start */
html, body, ul, li, p {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
input, label, a, button {
  cursor: pointer;
}

.buy-on-credit {
  width: 450px;
  height: 380px;
  margin: 0 auto;
  box-shadow: 1px 1px 4px 2px #000;
  font-size: 12px;
  padding-top: 8px;
}
.boc-top {
  display: flex;
  margin-bottom: 24px;
  padding-left: 30px;
}
.boc-top p {
  margin-right: 20px;
}
.boc-details {
  padding-left: 34px;
}
.boc-details li {
  margin-bottom: 24px;
  position: relative;
}
.boc-details .bd-total span:nth-child(1),
.boc-details .bd-way span:nth-child(1),
.boc-details .bd-option span:nth-child(1),
.boc-details .bd-comment span:nth-child(1)
{
  display: inline-block;
  width: 78px;
  text-align: right;
}
.boc-details .bd-total span:nth-child(1) i,
.boc-details .bd-way span:nth-child(1) i,
.boc-details .bd-option span:nth-child(1) i,
.boc-details .bd-comment span:nth-child(1) i
{
  color: #ef473c;
}
.boc-details .bd-total span:nth-child(2) input,
.boc-details .bd-option span:nth-child(2) input
{
    width: 180px;
    padding: 6px 8px;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;  
}

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1572297687903'); /* IE9 */
  src: url('iconfont.eot?t=1572297687903#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABkgAAAJOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApQYgE2AiQDCAsGAAQgBYRtBzQbjAXILrBt5DMbs3ZHiIInYQUAhEc8PH/sPfe99xfdOG+OpAoaSRT4CCY8kBb4/zd1v+ylD9kxJWMtm3T8S/aFn2MuVQ88v5YyRaNAuNah6QmeIUAt1OzcL5cYun3i3ukfBRTIfEA5rr1pUhdQFwdSQHtjFCdSQhk3jF3gEu4TaDAiIrA5MbcGNQprWSDuDC0NNbmgorBMnVBTs7eINxV16T4VALyG349/SEUNSSWzanZux3Mw9DVr55Rf3bFPCBHQ4QoyloBCHNQmt5QLxirXkKwwAfZVGXz5r/pmsVeDYH+dVd4EhqDwnkSu+FYzCW5rqE5gYNQbiM6D245cx91DF78+e813onaTf+5J9VWWPK+7OVgyRSli6ElLi8VQMAR/lt/TJgQQ/EdBafavprGAzw+/Q33Rzw3qduIKfoaoZ0fRJZYpFVVU25t0nqSuQQOqsLfD71ht95mzoU73CHet4RRZnSmyMJdQ0WgZNeqsoMGiycONOpFyUeqx4AogtPlE0uIDWZsvsjB/UNGjiBptUY4GR8GZjWbCqIswLTHHMnvMyAqXOxZZF1WuoLZlpykrCdkbSL4RYclYopiZRBdpjg3+tpaSkjNOwmET4DG0bcE8EiZmZUyX0uuJx3ndi2JZ4UCdDQSlSSiHydjDGLIEF/f7S3Wlz69Ami22NGppqwluQMRnjM4kxSR6kJNKt1fbvTzj26ZJkSSO4YjgYCbALGSzCYxXP8uEsqQYfUTc0yNud+N9lbH11c7XHYAGli6FPSZruCASO9Gc63ABAA==') format('woff2'),
  url('iconfont.woff?t=1572297687903') format('woff'),
  url('iconfont.ttf?t=1572297687903') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1572297687903#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1572364392785'); /* IE9 */
  src: url('iconfont.eot?t=1572364392785#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABpwAAAKHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBJIEpATYCJAMICwYABCAFhG0HNBvTBciemjwpEkigWJlBbwtsAibx8N9+v99n7lzUkmrkUT2LJjIJEiWRxFYnUop4qISiP//8/m9Ofwoo0Z7aOOTGoMo2cFcKvct14Ihs0qo5Ilshh0Juwi0fduCT3/vrj3un/zeA6nw+oBznXNQF1MWBFNDeGG3hEsq4Yewmggd4nkCDfiO41eXNIsRkYFogDhs1BWIFhyw74TqhpmFtFmdKdekkfQOn/PvxjxwxkrIAsjYOlnSY/QKjir3qnn2KcBKMzSUKzAKZ2GkMrAkKhxDUEAgZBsdKD75Uq1QljioXzl8HUptAr854JiZmPWo4wWN1VQEWJr2BqByXs7lKt9u5TRfT3P7NhQd69jrXac/PlDLpoudl/JtcJQd715ddjqv28+9y3c7VBBnv9bD3kDdCB2zz+3n8qespfvxCxk9Cg/P8YYdOGOuzib0fcz9UUT5QHRNgFvhZuktzwCG4Pd09k//rkhl8vl/nsmyYCdSdyBj8MObAhhyzgTLlkNnYmlRupKxBA6pMS4e/qZLuu4uEOt0TTLX6MijUGUUzfhZKjeagRp0FaDBjZXOjTlRQ5HpMO9YgtHmDpMU9FNr8oBn/C6Ue/1CjLYLQYC9SezYaj0ZigWKFYR2pu6ih2RZBapYQ6XlcaxsKzbM5qYyp23AjiRfL4RVsYbrEAnerJjNGEKG2iZa1y7Bh2MihdhNrjK8z5owLAmm6Ea/ZJiSsoDAFg+kQ1S6kQWOzENqeSVQ+n4fVtBkUtKNuRF+GUa5G74iEJw5AVwTWoLpHuca1pUbGMARCUDYTsqyNwgwGG+I0j2rCNAyvPsHnGCfAZmSogN9eZP7dDmgApCngskLDUdtlo6RhGDIAAA==') format('woff2'),
  url('iconfont.woff?t=1572364392785') format('woff'),
  url('iconfont.ttf?t=1572364392785') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1572364392785#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1572364873379'); /* IE9 */
  src: url('iconfont.eot?t=1572364873379#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABkQAAAJHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApUbwE2AiQDCAsGAAQgBYRtBywbkQUR1Ytpsi+wbdiDCEwGUhdIPjjhHuMCgTR4AwUAAAAARFCt/dtzu/f+fkJFIZKRQKAAQChglSgXR1A+cQSaZaJSdZubVdeoCMWSnAf/UzPSDeFCGK8mbMBJtuIgOmlsp2zXQwD4xL3TvwIKZL7zLse9aKxJk7oojgMp0LEGRVYimTeMXfACjxPoMG6eWLFqww5FZo8LxOkTxw4oBZ8ss2QRWg1Ls7irVqrb1SvKnej78UsVhUqd2GVbjq48bMn3+05autRc2h0Q/AS0ukbCPGRiR2NskyQYO+lYn01BlgXf7zcNtoqjmgT76+zCLjAKxc8k8aSPKlyBTG8GMX3S9aToah3revv2/v798927x5s3dHjXlp3HmvfL/Oz/9RWZtmG23TomT9mPJ7wloHmZnN8sEQhOLflnXwv+lmTw8dt/beRpXmbDHJR92YN/IhnYlA2ZbamyJmlMVQalc1V06EADuwZ8m6ofvoFUKIZvw9FmLENSTCMzax5qneajpViMDnOtXt1p0EVJ5HbMcR0g9LmHSo8XSPq8JjPrK2oj/qClLxI67IrBLTvNCMnrMnaCI/Qv8APNxrWJjosvaLfUcV4WcR7Iqw9CmRXlZIsz8hIz1t1WIgYM0wQNOA1TIliYAg6SOZGlznPT9KZsoElpyxk7wRH6F/iBZhN0Fl35/AXtljruaKiLPpBX3z+UWTGAbNXzoIZHeWXdbSViwDBN0IBBmBLB0jwo4CCZmxBZ6txpZYaqs+2109/tgg62oQonO6nORaUAAAAA') format('woff2'),
  url('iconfont.woff?t=1572364873379') format('woff'),
  url('iconfont.ttf?t=1572364873379') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1572364873379#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ok:before {
  content: "\e8b6";
}

.icon-must-fill2:before {
  content: "\e6fc";
}

.icon-arrow-down:before {
  content: "\e64b";
}

.boc-details .bd-way span {
  display: inline-block;
  margin-right: 12px;
}
.boc-details .bd-way span input {
  margin-right: 10px;
}
.boc-details .bd-way span:nth-child(1) {
  margin-right: 0;
}
.boc-details .bd-comment span {
  position: relative;
  top: -60px;
}
.boc-details .bd-comment textarea {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 6px 8px;
}
.boc-details .bd-comment {
  margin-bottom: 12px;
}
.iconfont.ok {
  color: #0aa757;
  position: absolute;
  top: 4px;
  right: 142px;
  display: none;
} 
.bd-total .iconfont.ok {
  right: 138px;
}
.bd-way .iconfont.ok {
  right: 124px;
  top: 2px;
}
.bd-option .iconfont.arrow-down {
  position: absolute;
  top: 4px;
  right: 142px;
  color: #9d9d9d;
  font-size: 12px;
  transition: transform .2s ease;
}
.bd-option .bp-dropdown {
  border: 1px solid #d9d9d9;
  position: absolute;
  top: 28px;
  left: 81px;
  width: 196px;
  border-radius: 4px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 1px 1px 10px 1px #d9d9d9;
  display: none;
}
.bd-option .bp-dropdown li {
  margin: 0;
  padding: 8px;
}
.bd-option .bp-dropdown li:hover {
  background-color: #ecf6fd;
  cursor: pointer;
}
.boc-btn {
  width: 120px;
  margin: 0 auto;
}
.boc-btn button {
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  padding: 6px 14px;
  outline: none;
  margin-right: 2px;
}
.boc-btn button:nth-child(1) {
  background-color: #1a8de6;
  color: #fff;
  border: 1px solid transparent;
}
.boc-btn button:hover {
  border: 1px solid #1a8de6;
}
.active-arrow {
  transform: rotate(180deg);
}
/* enterIntoAccount end */