<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <div id="app">
    <h1>{{hasWindow}}-{{noWindow}}-{{nearRoad}}-{{roomToward}}-</h1>
    <!-- <h1>{{final()}}</h1> -->
    <!-- <div>
      <h4 style="color: teal">{{widthWindow}}</h4>
      <h4 style="color: tomato">{{widthOutWindow}}</h4>
      <h4 style="color: rgb(184, 94, 109)">{{nearTheRoad}}</h4>
      <h4 style="color: skyblue">{{roomDirection}}</h4>
    </div> -->
    <h1><span v-for="(item, index) in final()" :key="index">{{item.roomNo}}</span>-</h1>
    <div class="cb">
      <span>
        <input type="checkbox" id="cb1" v-model="hasWindow">
        <label for="cb1">有窗</label>
      </span>
      <span>
        <input type="checkbox" id="cb2" v-model="noWindow">
        <label for="cb2">无窗</label>
      </span>
      <span>
        <input type="checkbox" id="cb3" v-model="nearRoad">
        <label for="cb3">靠马路</label>
      </span>
      <span>
        <input type="checkbox" id="cb4" v-model="roomToward">
        <label for="cb4">朝南</label>
      </span>
    </div>
    <div>
      <ul v-if="final().length > 0">
        <li v-for="(item, index) in final()" :key="index">{{item.roomNo}}</li>
      </ul>
      <ul v-else>
        <li v-for="(item, index) in dataSource" :key="index">{{item.roomNo}}</li>
      </ul>
    </div>
  </div>


  <script src="./home/lib/vue.js"></script>
  <script>
    let mockData = {
      code: 200,
      respData: [{
          roomNo: 'A0001',
          person: 'jack',
          roomId: 90,
          roomType: 'single room',
          window: 1,
          nearRoad: 1,
          roomToward: '朝南'
        },
        {
          roomNo: 'A0002',
          person: 'rose',
          roomId: 92,
          roomType: 'vip room',
          window: 0,
          nearRoad: 0,
          roomToward: '朝西'
        },
        {
          roomNo: 'A0003',
          person: 'bily',
          roomId: 93,
          roomType: 'time room',
          window: 1,
          nearRoad: 0,
          roomToward: '朝西'
        },
        {
          roomNo: 'A0004',
          person: 'bob',
          roomId: 94,
          roomType: 'set room',
          window: 0,
          nearRoad: 1,
          roomToward: '朝南'
        },
        {
          roomNo: 'A0005',
          person: 'lily',
          roomId: 95,
          roomType: 'president room',
          window: 1,
          nearRoad: 1,
          roomToward: '朝南'
        }
      ],
      total: 5
    }
    let vm = new Vue({
      el: '#app',
      data: {
        dataSource: [],
        hasWindow: false,
        noWindow: false,
        nearRoad: false,
        roomToward: false
      },
      computed: {
        widthWindow() {
          if (this.hasWindow) {
            return this.dataSource.filter(item => item.window === 1);
          }
        },
        widthOutWindow() {
          if (this.noWindow) {
            return this.dataSource.filter(item => item.window === 0);
          }
        },
        nearTheRoad() {
          if (this.nearRoad) {
            return this.dataSource.filter(item => item.nearRoad === 1);
          }
        },
        roomDirection() {
          if (this.roomToward) {
            return this.dataSource.filter(item => item.roomToward === '朝南')
          }
        }
      },
      methods: {
        final() {
          let arr = [];
          if (this.widthWindow) {
            arr[0] = this.widthWindow
          }
          if (this.widthOutWindow) {
            arr[1] = this.widthOutWindow
          }
          if (this.nearTheRoad) {
            arr[2] = this.nearTheRoad
          }
          if (this.roomDirection) {
            arr[3] = this.roomDirection
          }
          return [...new Set(arr.reduce((acc, cur) => acc.concat(cur), []))];
        }
      },
      mounted() {
        this.dataSource = mockData.respData;
      }
    })
  </script>
</body>

</html>